<h4>Your Schedules:</h4>

        <ul>
            <% current_user.schedules.each do |sched| %>
                <li><%= link_to sched.name, schedule_path(sched) %></li>
            <% end %>
        </ul>
    