<h1 align='center'>Nexus</h1>

    <h3 align='center'><%= link_to 'New User Sign Up', new_user_path %></h3>
    <h3 align='center'><%= link_to 'Existing User Sign In', '/signin' %></h3><br><br><br>

    <h2 align='center'><%= flash[:error] %></h2>