.company-index-seg {
    width: 75%;
    background-color: lightblue !important;
}

.company-photo-card {
    width: 150px !important;
}

.company-show-seg {
    background-color: lightblue !important;
}

.new-comp-seg {
    width: 110%;
    background-color: lightblue !important;
}