// Place all the styles related to the Contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.contact-show-seg {
    background-color: lightblue !important;
}

.contact-index-seg {
    width: 75%;
    background-color: lightblue !important;
}