// Place all the styles related to the Schedules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sched-seg {
    width: 75%;
    background-color: lightblue !important;
}

.sched-index-photo-card {
    width: 150px !important;
}

