// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-task-seg {
    width: 75%;
    background-color: lightblue !important;
}

.task-show-seg {
    width: 75%;
    background-color: lightblue !important;
}

.task-photo-card {
    width: 150px !important;
}