// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.calendar {
    width: 50%;
}

.company {
    width: 75%;
    background-color: powderblue !important;
}

.photo {
    width: 200px !important;
    width: 200px !important;
}