// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.calendar-seg {
    width: 50%;
}

.company-seg {
    width: 75%;
    background-color: lightblue !important;
}

.user-photo-card {
    width: 200px !important;
    
}

.sign-up-seg {
    width: 75%;
    background-color: lightblue !important;
}


